<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="ax.aixintui.plugin" version="1.0.0">
    <name>AiXinPush</name>
    <description>aixintui</description>
    <license>MIT</license>
    <keywords>aixintui</keywords>
    	<js-module src="www/aixinpush.js" name="PushPlugin">
        <clobbers target="window.PushPlugin" />
        </js-module>
 
    

	<!-- ios -->
	<platform name="ios">
		
		<config-file target="config.xml" parent="/*">
			<feature name="PushPlugin">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>

		<header-file src="src/ios/AppDelegate+notification.h" />
		<source-file src="src/ios/AppDelegate+notification.m" />
		<header-file src="src/ios/PushPlugin.h" />
		<source-file src="src/ios/PushPlugin.m" />
		<header-file src="src/ios/HttpDelegate.h" />
		<source-file src="src/ios/HttpDelegate.m" />
		<header-file src="src/ios/IXTNotification.h" />
		<source-file src="src/ios/IXTNotification.m" />
		<header-file src="src/ios/NSStringHelper.h" />
		<source-file src="src/ios/NSStringHelper.m" />	

	</platform>        
</plugin>
