<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>2043538818</string>
	<key>SecretKey</key>
	<string>kLwKmFWioEwMk46MNciSIgBTQ5v018otAeiXkKIconn17gFiEMnTLT3j0Q7UrdTp</string>
</dict>
</plist>
